body {
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: hsl(0, 0%, 70%);
    background-size: cover;
    margin: 0;
    height: 1000px;
}

/* Stylar navbaren*/
nav {
    margin: 27px auto 0;
    position: relative;
    width: fit-content;
    height: 50px;
    background-color: #34495e;
    border-radius: 0;
    font-size: 0;
    border-radius: 20px;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-flex;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    color: white;
    cursor: pointer;
}
/**/

/*Sätter individuella bredden på alla länkar i navbaren*/
a:nth-child(1){width: 90px;}
a:nth-child(2){width: 140px;}
a:nth-child(3){width: 110px;}
a:nth-child(4){width: 130px;}
a:nth-child(5){width: 160px;}
/**/

/*Animerar ".animation" div:en*/
nav a:nth-child(1):hover~.animation {
    width: 90px;
    left: 0px;
    background-color: #93ec4a;
}
nav a:nth-child(2):hover~.animation {
    width: 140px;
    left: 90px;
    background-color: #e74c3c;
}
nav a:nth-child(3):hover~.animation {
    width: 110px;
    left: 230px;
    background-color: #3498db;
}
nav a:nth-child(4):hover~.animation {
    width: 130px;
    left: 340px;
    background-color: #9b59b6;
}
nav a:nth-child(5):hover~.animation {
    width: 160px;
    left: 470px;
    background-color: #e67e22;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .25s ease 0s;
    border-radius: 20px;
}
/**/

/*färgar navbar:en och sidan mm*/
.container-nav {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 1);
    position: sticky;
    top: 0;
    z-index: 20;
}
.page{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    position: relative;
}
/**/

/*Stylar namnet och shoping carten*/
.company-name{
    top: 27;
    left: 27;
    color: hsl(0, 100%, 100%);
}
.shoping-cart {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 27px ;
    background-color: #34495e;
}
.shoping-cart:hover {background-color: #b60303}
/**/



.products-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px 0 30px;
    height: fit-content;
    width: 100%;
    z-index: 1;
}
.product-item{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    margin: 20px;
    background-color: hsl(0, 100%, 100%);
    box-shadow: 0 0 20px hsl(0, 0%, 64%);
    display: flex;
    align-items: flex-end;
}
.product-item:hover{cursor: pointer;}
.product-description{
    width: 100%;
    height: 30%;
    background-color: black;
    border-radius: 0 0 8px 8px;
}

/*stylar problem listan*/
.problem-list-container{
    padding-left: 20px;
}
.problem-list{
    color: rgba(255, 255, 255, 0.87);
    font-size: 30px;
}
.problem-h2{
    color: rgba(255, 255, 255, 0.87);
    font-size: 30px;
}
/**/

/* Stylar slide showen */
.slideshow{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    height: fit-content;
    justify-content: center;
}
.slideshow-item{
    position: absolute;
    size: 100%;
    width: fit-content;
    height: auto;
}
.slideshow-item > img{
    min-width: 100%;
    max-width: 100%;
    width: 100vmax;
}
.button-container{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: fit-content;

}
/*  */
.slideshow-button-left{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 0;
    top: 500px;
    border-radius: 0 10px 10px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    background: rgba(0, 0, 0, 0.35);
    color: rgba(255, 255, 255, 0.87);
    z-index: 10;
}
.slideshow-button-left:hover{
    cursor: pointer;
}
.slideshow-button-right{
    position: absolute;
    width: 100px;
    height: 50px;
    right: 0;
    top: 500px;
    border-radius: 10px 0 0 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    background: rgba(0, 0, 0, 0.35);
    color: rgba(255, 255, 255, 0.87);
    z-index: 10;
}
.slideshow-button-right:hover{
    cursor: pointer;
}
/**/

.recomended-container{
    margin-top: 1000px;
    width: 100%;
    height: 400px;
}
.recomended-item{
    background-color: hsl(0, 0%, 87%);
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
}